body {
	margin: 20px;
}

h1{
	margin: 10px;
}

h2.mathForm {
    text-align: center;
}

p {
	margin: 10px;
}

button {
	margin-top: 10px
}

div.double {
	border-style: double;
	width: 450px;
}

input {
	width: 120px;
}