body {
	margin: 20px;
}

h1{
	margin: 10px;
}

p.mathForm {
    text-align: center;
    font-size: 1.8em;
}

p {
	margin: 10px;
}

button {
	margin-top: 10px
}

div.double {
	border-style: double;
	width: 450px;
}

input {
	width: 120px;
}