body {
	margin: 20px;
}

button {
	margin-top: 10px
}

div.double {
	border-style: double;
	width: 450px;
}

h1 {
	margin: 10px;
}

input {
	width: 120px;
}

li {
	padding-bottom: .8em;
}

p.mathForm {
    text-align: center;
    font-size: 1.8em;
}

p {
	margin: 10px;
}

.centered {
    text-align: center;
}

.boldText {
	font-weight: bold;
}
